examples/on-off.example.json
[
  {
    "id": "4a9d46d5946a0d38",
    "type": "debug",
    "z": "adbcda8d8f02cc33",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 400,
    "wires": []
  },
  {
    "id": "fad262d7aed99be7",
    "type": "daichi-device",
    "z": "adbcda8d8f02cc33",
    "name": "Daikin",
    "service": "5056440cd0228dfc",
    "deviceId": 49905,
    "x": 690,
    "y": 400,
    "wires": [["4a9d46d5946a0d38"]]
  },
  {
    "id": "04d2421a1dfe326b",
    "type": "inject",
    "z": "adbcda8d8f02cc33",
    "name": "On",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"functionId\":466,\"value\":true}",
    "payloadType": "json",
    "x": 430,
    "y": 400,
    "wires": [["fad262d7aed99be7"]]
  },
  {
    "id": "d8541cb4bf55e589",
    "type": "inject",
    "z": "adbcda8d8f02cc33",
    "name": "Off",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"functionId\":466,\"value\":false}",
    "payloadType": "json",
    "x": 430,
    "y": 440,
    "wires": [["fad262d7aed99be7"]]
  },
  {
    "id": "5056440cd0228dfc",
    "type": "daichi-service",
    "name": "your@email.com"
  }
]
